@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0%;
    padding: 0%;  
    letter-spacing: 1px;
    word-spacing: 1.5px;
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: rgb(18, 18, 18);
    scroll-behavior: smooth;
    color: aliceblue;
}
.loader{
    opacity: 0;
    z-index: 5;
    width: 100%;
    position: absolute;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(8, 12, 66, 0.854);
}
.ring{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: ring 1s ease-in-out infinite;
}
#load{
    font-size: 18px;
    text-transform: uppercase;
    animation: color 2s ease-in-out infinite;
}
@keyframes ring{
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 3px 2px rgb(128, 255, 0);
    }
    25%{
        transform: rotate(90deg);
        box-shadow: 1px 3px 2px rgb(0, 30, 255);
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 3px 2px rgb(179, 0, 255);
    }
    75%{
        transform: rotate(270deg);
        box-shadow: 1px 3px 2px rgb(0, 51, 255);
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 3px 2px rgb(174, 0, 255);
    }
}
@keyframes color{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
        
    }
    50%{
        opacity: 0;
        
    }
    75%{
        opacity: 1;
        
    }
    100%{
        opacity: 0;
    }
}
.ring:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 1px rgb(255, 0, 0);
}
img{
    height: 50px;
}
nav{
    background-image: url('bg.jpeg');
    background-size: cover;
    position: sticky;
    top: 0px;
    width: 100vw;
    height: 4rem;
    margin: 20px, 0 , 0 , 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(27, 27, 27, 0.397);
    box-shadow: 0 1px 0 rgb(134, 134, 134);
    padding: 0px 10px;
    z-index: 10;
}
.opt{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
.inp-box{
    width: 25rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 1rem;
}
#inp{
    font-size: 1rem;
    appearance: none;
    color: black;
    height: 100%;
    width: 85%;
    border-radius: 1rem 0 0 1rem;
    padding: 0 8px;
    border: none;
    box-shadow: none;
}
#inp:focus{
    color: black;
    box-shadow: none;
    outline: none;
}
#search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    font-size: 1.2rem;
    background-color: rgb(0, 3, 171);
    border-radius: 0 1rem 1rem 0;
    cursor: pointer;
}
#search:hover{
    background-color: rgb(0, 2, 112);
}
#loc{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: rgb(0, 157, 255);
    background-color: rgb(39, 39, 39);
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}
main{
    margin: 30px;
}
.top{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 30px;
}
.top-left{
    background-image: url("bg.jpeg");
    background-size: cover;
    display: flex;
    padding: 20px 25px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 0 0 10px rgb(163, 163, 163);
    border-radius: 1rem;
    width: 18rem;
    height: 15rem;
    
    & #main-temp{
        font-size: 1.5rem;
        font-weight: 600;
    }
    & #message,#loc-data,#date{
        font-size: 1rem;
    }
    & i{
        margin: 2px 10px;
    }

}
.top-right{
    background-image: url("bg.jpeg");
    background-size: cover;
    display: flex;
    padding: 20px 25px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgb(163, 163, 163);
    border-radius: 1rem;
    width: 60rem;
    height: 15rem;
}

.top-right-child{
    background-image: url('bg1.jpeg');
    background-size: cover;
    backdrop-filter: blur(1px);
    display: flex;
    padding: 20px 25px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(101, 101, 101);
    border-radius: 1rem;
    width: 16rem;
    height: 12rem;
    & #up,#down{
        font-size: 1rem;
        line-height: 1.2rem;
    }
    & i{
        font-size: 1.5rem;
    }
}
.bottom{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.bottom-left{
    background-image: url("bg.jpeg");
    background-size: cover;
    display: flex;
    padding: 20px 25px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 0 0 10px rgb(163, 163, 163);
    border-radius: 1rem;
    width: 18rem;
    height: 15rem;
}
.list-head{
    font-size: 1.1rem;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}
.list-top{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 1rem;
}
.list-data{
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    font-size: 1rem;
}
.bottom-right{
    background-image: url("bg.jpeg");
    background-size: cover;
    display: flex;
    padding: 6px 1px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 0 0 10px rgb(163, 163, 163);
    border-radius: 1rem;
    width: 63rem;
    height: 17rem;
    overflow: hidden;
}
footer{
    z-index: 10;
    position: fixed;
    bottom: 0%;
    left: 0%;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    height: 1.5rem;
    background-image: url('bg.jpeg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:1300px) {
    nav{
        justify-content: space-evenly;
    }
    .opt{
        width: 60%;
    }
    main{
        margin: 20px;  
    }
    .top{
        gap: 10px;
        margin-bottom: 20px;
        justify-content: space-evenly;
    }
    .top-left{
        padding: 15px 20px;
        width: auto;
        gap: 10px;
        & #main-temp{
            font-size: 1.2rem;
            font-weight: 600;
        }
        & #message,#loc-data,#date{
            font-size: 0.8rem;
        }
        & i{
            margin: 1px 5px;
        }
    }
    .top-right{
        padding: 15px 20px;
        width: 48rem;
        height: max-content;
    }
    .top-right-child{
        padding: 15px 20px;
        gap: 10 px;
        width: 12rem;
        height: 12rem;
        & #up,#down{
            font-size: 0.8remp;
        }
    }
    .bottom{
        gap: 20px;
        justify-content: space-evenly;
    }
    .bottom-left{
        padding: 15px 20px;
        gap: 10px;
        width: 12rem;
    }
    .list-head{
        font-size: 1rem;
    }
    .list{
        gap: 0.2rem;
    }
    .list-top{
        font-size: 0.8rem;
    }
    .list-data{
        margin-top: 2px;
        font-size: 0.8rem;
    }
    .bottom-right{
        padding: 6px 1px;
        gap: 15px;
        width: 50rem;
        height: 13rem;
    }
    .bottom-right{
        height: min-content;
    } 
}
@media(max-width:1000px) {
    nav{
        height: 6rem;
    }
    .opt{
        width: 100%;
        justify-content: space-evenly;
    }
    .top-left{
        width: 100%;
    }
    .top-right{
        width: 100%;
    }
    .bottom-left{  
        width: 100%;
    }
}
@media(max-width:500px) {
    img{
        height: 40px;
    }
    nav{
        height: 6rem;
        padding: 0px 5px;
        justify-content: center;
    }
    .opt{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .inp-box{
        width: 16rem;
        height: 2rem;
    }
    #search{
        width: 18%;
        font-size: 1rem;
    }
    #loc{
        font-size: 1.2rem;
        width: 2rem;
        border-radius: 50%;
        padding: 2px;
    }
    main{
        margin: 20px;   
    }
    .top{
        gap: 30px;
        margin-bottom: 20px;
    }
    .top-left{
        width: 18rem;
        height: 15rem;
        
        & #main-temp{
            font-size: 1.5rem;
            font-weight: 600;
        }
        & #message,#loc-data,#date{
            font-size: 1rem;
        }
        & i{
            margin: 2px 10px;
        }
    
    }
    .top-right{
        gap: 15px;
        width: 18rem;
        height: max-content;
        background-image: url('');  
        border: none;
        box-shadow: none;
        padding: 0%;
    }
    .top-right-child{
        background-image: url('bg.jpeg');
        width: 18rem;
        height: 12rem;
        & #up,#down{
            font-size: 1rem;
            line-height: 1.2rem;
        }
        & i{
            font-size: 1.5rem;
        }
    }
    .bottom-left{  
        gap: 8px;
        width: 18rem;
    }
    .bottom-right{
        height: 5rem;
    }  
    .loader{
        height: 100%;  
    }
    footer{
        width: 100vw;
    }
}

